{{#each posts as |post|}}
  <div class="row card">
    <h5 class="card-header">{{post.title}}</h5>
    <div class="card-body">
      <h5 class="card-title">{{post.post_text}}</h5>
      <p class="card-text">Created by
        {{post.user.username}}
        on
        {{format_date post.date_created}}</p>
    </div>
  </div>
{{/each}}